[2014-09-10 14:58] ralphschindler opened #4 "Column widths incorrect when multibyte charaters are inside cell"
When multibyte characters are included inside a cell, it affects the width/amount of white-space added to ensure table columns line up.

[2014-09-10 15:16] #4 closed, assigned to nobody

[2014-09-16 17:03] reinink opened #5 "Package website for CLImate"
So, the next step is creating a package website for this project. To make this process a little easier, we've created a ready-made theme that's powered by [Sculpin](https://sculpin.io/).

You can find the full instructions on how to set this up [here](https://github.com/thephpleague/thephpleague.github.io/tree/project-website-theme). Since you have most of your documentation worked out already thi

[2014-09-17 01:21] marcioAlmada opened #7 "Methods to abstract ANSI escape sequences"
Because it would be useful to have shortcuts for the most common ANSI escape sequences:

`\e[2J` is usually used to clear terminal:

[code]

`\r\e[K` is usually used to clear a single line:

[code]

`\e[nA` is used to clear lines up, `n` is the number of lines to be cleared.

[code]

Same things could be done for cursor moves. What do you think? :)

[2014-09-17 13:38] #5 closed, assigned to nobody

[2014-09-18 20:55] thers opened #9 "Progress bar rendering on Windows broken"
I'm using ANSICON (because default terminal don't support ANSI escape codes, in fact ANSICON don't do it well too) on Win8x64, CLImate just renders new line each time it increments, without erasing old one.

So it looks like this:

[code]

Well, i know that it's a Windows problem, but look at Composer, it renders progress bar fine even on Windows ;)

[2014-09-19 22:20] ilhanyumer opened #10 "Is there any method for input?"
Like I want to enter my name.

[2014-09-21 13:51] maxgu opened #11 "can i display output in columns?"
Without table (or table borders), like this

[code]

http://postimg.org/image/4xqeo3snb/

[2014-09-22 01:31] #10 closed, assigned to nobody

[2014-09-29 12:52] sagikazarmark opened #12 "Input filter accepted values based on callback"
It would be awesome I could do the following:

[code]

[2014-09-29 14:57] sagikazarmark opened #13 "Input default answer"
I think it is a good idea to be able to define a default answer either for simple input or confirmation.

[2014-10-02 11:26] #13 closed, assigned to nobody

[2014-10-02 11:27] #12 closed, assigned to nobody

[2014-10-03 18:41] web777 opened #14 "[NFR] Padding for readable view"
Would be coolly if it is possible to padding lines.
Example
[code]

[2014-10-14 04:55] sagikazarmark opened #15 "Progress bar increment"
In some cases the current step is hard to determine. (When the loop and the outputing code are far from each other)

It would be great if Progress component could either return it's current value or increment it (with a predefined step?) or both. Looking at the code the current value isn't stored anywhere, so I am not sure I could efficiently solve the problem by sending a PR.

[2014-10-21 13:24] ghost opened #16 "Table fails with identical columns content"
If we have the same content for 2 columns $climate->table() fails. For example:

[code]

will fail with the following error:
`array_combine(): Both parameters should have an equal number of elements`

I suppose the error comes when doing array_flip() here:
https://github.com/thephpleague/climate/blob/master/src/TerminalObject/Table.php#L216

[2014-10-21 17:55] pokoot opened #17 "Windows CMD Not Being Parsed"
Here is an example of the display not being rendered properly. Is there a workaround on this?

![no parse](https://cloud.githubusercontent.com/assets/234784/4723801/f5f58154-594a-11e4-8d67-196ed635823c.png)

[2014-10-21 23:54] #16 closed, assigned to nobody

[2014-10-26 13:07] mzf opened #18 "Writing to stdout instead echoing breaks display in tests"
When i use codeceptions tests with 2.3.0 i have clean test messages without output from my scripts.
I updated to 2.4.1 and now i see all messages from my scripts when running tests.
It is uncomfortable. Please change back!

[2014-10-26 19:44] maxgu opened #19 "How i can buffering output?"
[code]

not work

[2014-10-27 11:04] #19 closed, assigned to nobody

[2014-11-08 02:40] #18 closed, assigned to nobody

[2014-11-08 02:40] #15 closed, assigned to nobody

[2014-11-12 18:45] sagikazarmark opened #27 "Replace gulp with robo"
I am having a weird feeling about using gulp in a PHP project. ;)

I suggest you looking at [robo](https://github.com/Codegyre/Robo) which tries to be a replacement for gulp/grunt based tasks. It is possibly a perfect replacement for running tests as well. (It supports phpunit, codeception and there is a PR for phpspec as well)

[2014-11-13 10:00] sagikazarmark opened #29 "Argument/Option parsing"
I know CLImate is about output formatting (at least for now), but do you think that an option/argument parser can be part of this library?

[2014-11-14 02:56] #27 closed, assigned to nobody

[2014-11-14 10:29] sagikazarmark opened #30 "Non-interactive terminals"
It is often a possibility to disable interactive console when running an application.

Is it possible to have it in CLImate? It probably only makes sense with the Input.

So when the interactive mode is disabled, prompts should either return their default value or null. It is the application's responsibility to handle any other cases, like getting the data from an option.

[2014-11-14 11:19] sagikazarmark opened #31 "Password prompt"
It would be awesome be have an option for prompting for a password and hiding the characters.

[2014-11-24 00:55] #29 closed, assigned to nobody

[2014-11-25 21:13] sagikazarmark opened #32 "Missing label from progressbar advance"
The newly added `adnvace` feature is awesome, however misses the label which is present in the `current` method. Is this for a reason?

[2014-11-25 22:02] #32 closed, assigned to nobody

[2014-11-25 23:13] duncan3dc opened #35 "Repeated indentation?"
Following on from #34, I often find myself indenting chunks of related output, and wondered what your opinion on persistent indentation would be?

[code]

Would output something like:

[code]

[2014-12-01 12:33] nyamsprod opened #37 "StdErr missing ?"
If I want to use `CLImate` for `StdErr` I need to:
- Create the missing `StdErr` class that implements the `WriterInterface`
- Instanciate a new `Output` Class with an instance of this `StdErr` class
- Instanciate the `CLImate` class using the instanciated `Output` class.

That's a lot of boilerplate code to get a **important** feature ? Wouldn't it be more *simple* if:
- the `StdErr` class was di

[2014-12-05 01:59] #35 closed, assigned to nobody

[2014-12-15 14:38] evilive3000 opened #41 "PHPDoc blocks"
Please fix phpDoc blocks in file [CLImate.php](https://github.com/thephpleague/climate/blob/216e391b175bd88799a472523c647402cf1cc494/src/CLImate.php#L68)

As saing [here](https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md#3-definitions) and [here](http://manual.phpdoc.org/HTMLSmartyConverter/HandS/phpDocumentor/tutorial_phpDocumentor.howto.pkg.html#basics) : `DocBlocks p

[2014-12-15 18:08] #41 closed, assigned to nobody

[2014-12-16 20:49] frangeris opened #44 "Give the option for save every output to file automatically"
It could be something like:

[code]

[2015-01-08 02:30] #17 closed, assigned to nobody

[2015-01-08 03:22] joetannenbaum commented on #14
Officially added in 2.6.0: http://climate.thephpleague.com/terminal-objects/padding/

[2015-01-08 03:22] #14 closed

[2015-01-08 03:35] joetannenbaum commented on #11
This has officially been added in 2.6.0: http://climate.thephpleague.com/terminal-objects/columns/#column-count

[2015-01-08 03:35] #11 closed

[2015-01-08 03:36] #7 closed

[2015-01-08 18:30] web777 commented on #14
Awesome! Thanks a lot

[2015-01-13 00:11] terah opened #48 "Colors are not appearing in log files in 2.6"
Hi,

Great library!

Something has changed from 2.5 to 2.6 where colors are no longer being pushed to files.  I have cronjob  which outputs a lot of information to log files with a lot of color so I can easily see problems.  2.6 no longer appears to send the colors to the files when redirecting to a file.

[2015-01-13 01:23] joetannenbaum commented on #48
2.6 introduced detection of ansi/non-ansi support, what OS are you running the cronjob on? Support is detected via the `hasAnsiSupport` methods in the following classes:

https://github.com/thephpleague/climate/blob/master/src/Util/System/Linux.php
https://github.com/thephpleague/climate/blob/master/src/Util/System/Windows.php

[2015-01-13 02:09] terah commented on #48
Hi Joe,

It's on 64bit Red Hat Enterprise Linux Server release 6.5 (Santiago) and my
Yosemite dev machine.

On 2.5, the output had to be viewed in 'more' or 'tail' for it to read ok.
 'Less' had trouble with it.

In 2.6 it looks fine on stdout but it looks like the color is stripped on
redirection.

Regards,

Terry Cullen
Freelance Senior PHP Programmer/Web Developer
--
Phone 1300-955-838Mobile 04

[2015-01-13 02:27] terah commented on #48
These are taken on my Yosemite mac.

With 2.5:
![screenshot 2015-01-13 12 20 48](https://cloud.githubusercontent.com/assets/2120322/5715102/0cc1f12c-9b1f-11e4-8c73-8d7c965d21f9.png)

With 2.6:
![screenshot 2015-01-13 12 22 34](https://cloud.githubusercontent.com/assets/2120322/5715104/145eaeac-9b1f-11e4-8b85-6ec07bfc6556.png)

The terminal is showing as having Ansi support.

[2015-01-13 02:30] terah commented on #48
Oh.. It's on php 5.5 too...

[2015-01-13 02:40] joetannenbaum commented on #48
Gotcha, thank you for the screenshots, very helpful!

So the culprit is the check for ansi support on Linux (`(function_exists('posix_isatty') && @posix_isatty(STDOUT))`). Since you're piping the output elsewhere, it doesn't detect an interactive terminal and drops the ansi support. Generally, that's a good thing so you don't get a garbled mess, but I can see your use case.

I'll look into layerin

[2015-01-13 02:40] terah commented on #48
Yes... It looks like posix_isatty(STDOUT) is the culprit.  Might need a forceAnsiOutput settings flag?

[2015-01-18 14:29] #48 closed

[2015-01-18 14:34] joetannenbaum commented on #48
A `forceAnsiOn` method was just added in 2.6.1, enjoy!

[code]

[2015-01-19 00:06] terah commented on #48
Cheers!

[2015-01-24 03:47] vkbansal commented on #9
Getting similar warning on windows
[code]

[2015-02-08 20:28] sergeizelenyi commented on #9
my output comand mode in cmd:
Status for device CON:
----------------------
    Lines:          3000
    Columns:        238
    Keyboard rate:  31
    Keyboard delay: 1
    Code page:      866
https://github.com/thephpleague/climate/blob/master/src/Util/System/Windows.php#L14
return $this->getDimension('width');

but value width contains in  Columns
if return $this->getDimension('columns'), work

[2015-02-14 13:12] tolry opened #51 "indent tables"
It would be great to have the possibilty to indent a table. The tab() method does not work, as it is only inserts a tab, so just the first line (border) would be indented if used like this

[code]

I would be willing to start working on this, if I am not the only one interested in this :smile:

[2015-02-14 13:20] tolry opened #52 "Enhancing Input"
A few improvements I would like to see when using inputs with a list of acceptable responses.
- when `accept()` is used in combination `defaultTo`, highlight the default option (bold, underscore)
- make some kind of quick selection possible, e.g. the first letter of every option (if not yet used) can select this specific entry.

Of course, this additions should be optional (and probably disabled b

[2015-02-15 21:05] teklifeinfo opened #53 "clear method"
Have you thought about changing the clear method from

    <?php

    namespace League\CLImate\TerminalObject\Basic;

    class Clear extends BasicTerminalObject
    {
         /**
         * Clear the terminal
         *
         * @return string
         */
        public function result()
        {
            return "\e[2J";
        }
    }

To

    <?php

    namespace League\CLImate\Terminal

[2015-02-17 09:05] mattsah opened #55 "Get output for later use?"
Is there a way to simply get output and store it in a variable rather than printing direct to screen?  I even tried output buffering, but this didn't seem to grab it.

[2015-02-18 02:12] joetannenbaum commented on #55
You could instantiate it with a class that implements `League\CLImate\Util\Writer\WriterInterface` as the `League\CLImate\Util\Writer\StdOut` class does (https://github.com/thephpleague/climate/blob/master/src/Util/Writer/StdOut.php). That way you can catch anything being written and use it however you wish. Does that work for what you need?

[2015-02-18 02:38] #53 closed

[2015-02-18 02:57] joetannenbaum commented on #52
Great idea for bolding the default option, I think I'm going to hold off on the quick select for now, as you can easily just throw the first letter of each option in as acceptable options themselves.

[2015-02-18 03:01] joetannenbaum commented on #44
I would leave this sort of thing to a package that's more logging-specific, I don't feel it's quite the right place for it. Thanks though!

[2015-02-18 03:01] #44 closed

[2015-02-18 03:10] mattsah commented on #55
@joetannenbaum if I return the output from that method though will it pass back from out?

like if I just return $content; can I then get that from out() or would I have to implement some other method somewhere?  It's not very clear since that one is writing directly to STDOUT.

That said, although I still think the answer would be useful, I gave up for now due to other reasons which I can open is

[2015-02-18 08:56] tolry commented on #52
Thanks for implementing the bold on defaeultTo.

Short elaboration on the quick select: the idea behind that would be, that Climate also does the normalizing for you.

Example options:

* **p**rocess
* **s**kip
* s**e**lect
* **q**uit

Now the following input should always return "skip"

* skip
* SKIP
* s
* sKip
* ...

[2015-02-23 14:05] frangeris commented on #44
Great... :+1:

[2015-02-24 16:48] nyamsprod commented on #9
What's up with this bug ? I tried today climate and had the same problem this times with a Linux build from Travis-CI

[2015-02-24 17:17] joetannenbaum commented on #9
I'll take a look at this tonight when I get home and get back to you. I have an idea for an alternative method to re-write the line, I'll check it out and see if it works.

[2015-02-25 03:47] joetannenbaum commented on #9
Well, after a lot of unsuccessful tinkering tonight, no change in the result unfortunately.

@nyamsprod when it's run outside of Travis it looks ok? I think Travis is having trouble displaying the output because the progress bar is asking the cursor to move up, not just re-writing the same line over and over.

@vkbansal what are you running the command on in Windows? And what version of CLImate ar

[2015-02-25 04:25] vkbansal commented on #9
@joetannenbaum I'm running commands via ConEmu (x64) and the version I used was `2.6.1`

[2015-02-25 15:37] RiderSx commented on #9
I have no opportunity  to test this on Win8, but now I can test it on Win10TP, I'll drop a word about the results later :)

[2015-03-02 01:44] #37 closed

[2015-03-02 01:45] joetannenbaum commented on #55
This now officially available in the 3.0 release: http://climate.thephpleague.com/output/

[2015-03-02 01:45] #55 closed

[2015-03-03 06:39] davidneimeyer commented on #31
Here's a quick hack:
https://gist.github.com/davidneimeyer/27c984252d2056c3bddc

It's not portable, and _really_ should use (_read: be implemented as part of_) the ```CLImate\Util\System*``` adapters instead of a raw ```exec()```.  Use at your own discretion!

[2015-04-03 23:38] Ortix92 opened #63 "Progress bar across methods"
Is it possible to use the progress bar across methods in a class? As in, from what I understand, I have to use the instance of `progress` and manually add values.

However it seems that I cannot call `$this->climate->progress()->advance(10)` from another method. Which is a bummer :( Or am I missing something here?

[2015-04-18 21:04] rohithmeethal commented on #31
yes we definitely required a password input option, rightn ow I am using text input to get password, which is really bad idea. Please include a linux style password prompt that doesn't show any feed back.
This is really helpful when creating command line installers.

[2015-04-30 19:21] joetannenbaum commented on #31
This is now officially tagged in 3.1.0. Unfortunately, still working on a Windows solution....

[2015-04-30 19:24] sagikazarmark commented on #31
Symfony console has a solution for that. IIRC @Seldaek created a solution for that.

[2015-04-30 19:26] Seldaek commented on #31
Symfony console has a trimmed down version of https://github.com/composer/composer/blob/master/src/Composer/IO/ConsoleIO.php#L255-323 without some of the goodness IMO, so I'd advise you look at that composer link. And yes it requires https://github.com/Seldaek/hidden-input to work reliably on all windows versions. The tricks you might find online are windows XP only, and bash/stty is workable for

[2015-04-30 19:28] Seldaek commented on #31
I am thinking maybe I should extract it in a tiny self-contained version that does just that though, if this shit is gonna get copy pasted everywhere with minor tweaks.. This is dumb.

[2015-04-30 19:28] sagikazarmark commented on #31
:+1:

[2015-04-30 20:26] Seldaek commented on #31
https://packagist.org/packages/seld/cli-prompt

[2015-04-30 20:29] sagikazarmark commented on #31
@Seldaek awesome

[2015-04-30 20:30] joetannenbaum commented on #31
Thank you @Seldaek, I'll work on integrating this.

[2015-05-01 11:22] joetannenbaum commented on #31
Officially tagged in 3.1.1, thanks again @Seldaek!

[2015-05-01 11:22] #31 closed

[2015-05-01 11:31] Seldaek commented on #31
Cool :)

[2015-05-04 18:39] sergeizelenyi commented on #9
Warning: str_repeat(): Second argument has to be greater than or equal to 0 in C:\xampp\htdocs\dbcompare\vendor\league\climate\src\TerminalObject\Dynamic\Progress.php on line 160

fix:
my output 'mode' on Win7
Status for device COM1:
-----------------------
Baud:            1200
Parity:          None
Data Bits:       7
Stop Bits:       1
Timeout:         OFF
XON/XOFF:        OFF
CTS handshaking: O

[2015-05-22 17:33] yparisien commented on #9
The solution is to
change this line in src/Util/System/Windows.php

`$output = $this->exec('mode', true);`

by this one

`$output = $this->exec('mode CON', true);`

[2015-06-11 09:47] 20after4 opened #65 "In usage message, description isn't displayed for positional parameters"
When I specify parameters without a prefix (or longPrefix) the usage message doesn't include them in the verbose help.

It would be very helpful to be able to provide the description of positional parameters, rather than being forced to use a prefix or roll my own help formatting code.

I would provide a pull request but the code is quite difficult to understand and I got lost trying to figure out

[2015-06-29 20:50] nochso opened #66 "Routing for custom TerminalObjects"
Trying to extend CLImate with a custom Table object for example is more difficult than it has to be.

The namespace `League\CLImate\TerminalObject\Router` is relatively confusing.
There's a RouterInterface used by the Basic- and DynamicRouter but those classes are only used by class Router by passing them to the constructor.

Router *requires* exactly these so I can't pass my own:
[code]
CLImate t

[2015-07-17 20:23] JayBizzle opened #68 "Is it possible to not clear that last output label on a progress bar?"
This line...
https://github.com/thephpleague/climate/blob/master/src/TerminalObject/Dynamic/Progress.php#L169
...prevents the last progress label being displayed, which isn't ideal when you have a label such as

[code]

You never get to see `(36 of 36)`

Is there any way to override this?

[2015-07-19 02:59] dshafik commented on #63
@Ortix92 `$this->climate->progress()` returns an instance of `\League\CLImate\TerminalObject\Dynamic\Progress` that represents the progress bar.

You can pass _that_ around and call `->advance()` (or `->current()`) on it from anywhere.

@joetannenbaum FYI, this bug is bogus, and you can close it :)

[2015-08-03 17:22] FoxxMD commented on #48
:+1: Thanks for this.

[2015-08-05 23:34] joetannenbaum commented on #66
I hear you, and I totally agree. Working on a branch (https://github.com/thephpleague/climate/tree/extending) where extending looks something like this:

[code]

Then it can be used like anything else:

[code]

Only requirement is that the class extends either the Dynamic or Basic interface to ensure that it integrates seamlessly.

Thoughts? Better?

[2015-08-06 00:12] joetannenbaum commented on #68
That: is a legitimate question. I'm not sure why I ever did that. But I put it back (f8a783cae97fda9030686b0c08df0c3bc2bd41c9), because I definitely see your point.

I'll tag it up soon so it's an official release, thanks for the heads up.

[2015-08-06 00:12] #68 closed

[2015-08-06 00:13] #63 closed

[2015-08-06 00:39] #65 closed

[2015-08-06 00:51] joetannenbaum commented on #65
I'll tag it up in a bit and make it official.

[2015-08-06 16:36] nochso commented on #66
Yes, that would definitely be better.

Personally I don't like passing the FQN as a string because typical IDE functions won't work on those. Maybe pass instantiated objects instead or allow both?

Other than that, all good :+1:

[2015-08-06 16:41] joetannenbaum commented on #66
Yeah I toyed with allowing both, probably will still go that direction. Also interesting to allow searching within a namespace as a fallback. I'll let it simmer a little more then finalize and tag it, thanks for the feedback!

[2015-08-13 21:02] joetannenbaum commented on #66
Officially tagged in 3.2.0, enjoy! http://climate.thephpleague.com/extending/

[2015-08-13 21:02] #66 closed

[2015-08-13 22:49] nochso commented on #66
Thank you :+1:

[2015-08-14 16:15] jpscharf opened #70 "indeterminate progress (aka spinner)"
Will a spinner or indeterminate progress ever be added?

[2015-08-14 18:36] joetannenbaum commented on #70
I have definitely thought about it before, yes. Might be the next thing in the works....

[2015-09-23 18:32] andyfleming opened #71 "Multiple Commands"
Unless I missed this in the docs, there doesn't seem to be an easy way to set up multiple "commands". The argument parsing is nice, but it would be great to handle multiple commands with seperate argument configurations.

Commander refers to them "Git-style sub-commands".

https://www.npmjs.com/package/commander#git-style-sub-commands

Maybe the symfony/console component would be better for what I

[2015-09-24 04:57] coolhome opened #72 "Redraw Progress Bar after Clear"
Scenario: Redraw Progress Bar after clear

If you have a progress bar and you clear before calling progress bar and nothing changes the progress bar is not redrawn.

Example Code
[code]
Not the best example because you could just set the output to the label but in my case I have a table below with some more interesting stats.

Proposed Solution: Add a method that will always make the method should

[2015-10-23 13:42] bwoebi opened #73 "Remaining args / -- argument separator?"
I'd like to be able to grab the trailing args:
[code]
Then I want to get an array `["foo", "bar"]` back.

(`--` is common as an argument separator, like everything, including arguments with a leading `-`, following is passed literally to somewhere else.)

I've searched for it in the docs, but actually found no way how to grab every trailing arg. I've only found a way to grab a single arg...

Was t

[2015-10-23 18:32] jelofson opened #74 "Backspace key doesn't work on inputs after a radio input"
If I use an input of type radio, then later use an input of type input, I can no longer use the backspace key etc. I think this is due to the $this->util->system->exec('stty -icanon');
Perhaps one should call something like $this->util->system->exec('stty sane'); afterwards?
Maybe I am losing it? :)

[code]

[2015-10-31 21:36] lapin-b commented on #9
I've tested with Cmder and nothing is broken. I'm on Windows 8.1 using PHP 5.5.12

[2015-11-11 02:20] joetannenbaum commented on #73
This was an oversight, but I will look into rectifying it. Thanks for bringing it to my attention, I'll keep you updated.

[2015-11-11 02:48] joetannenbaum commented on #74
You are not losing it, very much correct. :+1:  Thanks for the catch, I'll throw that in.

[2015-11-11 02:52] #74 closed

[2015-11-11 03:10] joetannenbaum commented on #73
I understand your example above, but in the referenced issue afterwards (https://github.com/amphp/aerys/issues/58) how would you expect something like that to come back? Just so I know we're on the same page.

`bin/aerys -c config.php -- --port 80 --host localhost`

[2015-11-11 03:37] jelofson commented on #74
Awesome, thanks!

[2015-11-19 22:59] bwoebi commented on #73
I'm not too sure about the API. Eventually, we could have the argument named `"--"` for that, or have an extra method for that.

I prefer a `"--"` argument as this means it'd be easily includible in the definition array.

[2015-11-25 19:21] kelunik commented on #71
This is definitely something for the roadmap, it's something I'm looking for as well.

[2015-12-17 16:17] diegoinsalopez opened #77 "Apply colors Inputs (CheckBoxes, Radio buttons) ?"
Hi

I try to set red color to a radio button but the color doesn't apply to the first element in the list, i'm doing something wrong or it's not possible?

Thanks

![image](https://cloud.githubusercontent.com/assets/487087/11874848/f5ca20e8-a4e1-11e5-9b4d-3d89c5a8ac33.png)

[2015-12-17 16:21] joetannenbaum commented on #77
Yup, I was able to replicate this. Looks like you stumbled onto a strange bug, I'll take a look at it!

[2015-12-18 04:29] mzf opened #78 "Is any way use formatting in padding?"
Is any way use formatting in padding?
I want green label and white result

[2016-01-01 00:29] mikegioia commented on #74
@jelofson Can you bump the version tag for this? Composer isn't getting the bug fix and I have to direct it to dev-master currently.

[2016-01-01 16:48] jelofson commented on #74
@mikegioia It's not my code. I was just the reporter.

[2016-01-01 16:57] mikegioia commented on #74
Oh sorry about that. That message was for @joetannenbaum

[2016-01-05 17:45] bwoebi commented on #73
@joetannenbaum any update on this?

[2016-01-08 15:37] alexbilbie opened #79 "exec(): Unable to fork [tput cols] in /app/vendor/league/climate/src/Util/System/System.php on line 66"
I'm running a small PHP CLI script in a Docker container running on Debian Jessie.

I consistently get the following error every time I run the script and I call `$cli->border();`:

`exec(): Unable to fork [tput cols] in /app/vendor/league/climate/src/Util/System/System.php on line 66`

Any ideas how I can resolve it?

Thanks

[2016-01-08 15:38] alexbilbie commented on #79
I should note that calling `tput cols` in the shell prompt outputs a number as expected

[2016-01-09 17:19] #77 closed

[2016-01-09 17:43] joetannenbaum commented on #78
This has been fixed in master, allowing you to do something like this now:

[code]

I'll push out an official release either later today or tomorrow.

[2016-01-09 17:52] joetannenbaum commented on #79
Hm, I'm not actually sure. This is the first I've heard of something like this. I'm sure you've seen this, but is this any use to you? http://stackoverflow.com/questions/20648949/php-warning-exec-unable-to-fork

I could wrap the exec call in a try/catch and return a default I suppose. Let me know if the above yields any interesting results.

[2016-01-10 19:22] #72 closed

[2016-01-10 19:53] joetannenbaum commented on #73
Hey @bwoebi, I guess my question is, would you like it to work something like this:
[code]
[code]

[2016-01-10 19:56] bwoebi commented on #73
An unparsed variant. That's the point of the `--` separator in general.

[2016-01-13 05:23] #78 closed

[2016-01-13 05:25] mzf opened #80 "Padding with non latin symbols issue"
When i use Russian lang in padding i get different width in lines with same options

![2016-01-13_12-20-35](https://cloud.githubusercontent.com/assets/4039372/12285825/b1d28e06-b9f0-11e5-8cbb-ff84380506b9.png)

[2016-01-14 15:45] mjordan commented on #9
Tested in Windows 7 Enterprise SP1 (64 bit) using Git Bash, cmd, and PowerShell, with the same behavior as illustrated by @RiderSx.

[2016-01-27 07:42] bwoebi commented on #73
@joetannenbaum bump ...?

[2016-01-28 16:17] masnug commented on #70
how about this one, https://github.com/smasty/CLImate.php

[2016-01-31 22:32] joetannenbaum commented on #73
Just put it into master, want to check it out before I tag it?

[code]

[2016-01-31 22:41] bwoebi commented on #73
Looks nice, but usually trailing args should also work without explicit `--` at the end for arguments without starting `-` ... if that is possible? :-)

Thanks!

[2016-02-02 19:46] ValeriyLiquid commented on #70
+1 for this feature

[2016-02-10 15:31] bwoebi commented on #73
@joetannenbaum so, what do you think?

[2016-02-23 11:28] kelunik commented on #73
*bump*

[2016-02-23 14:49] joetannenbaum commented on #73
I'm sorry for the delay, I've been swamped at work trying to launch a big project. I'll get this up this week.

[2016-04-01 22:33] banago opened #84 "Argument issue when no value is provided"
@joetannenbaum thanks for this great package. I use CLImate over at [PHPloy](https://github.com/banago/PHPloy). Lately I've run into an issue. I use this argument:

    phploy --sync
    phploy --sync="hash-goes-here"

The second command works fine, the first one causes this notice and fails:

    PHP Notice:  Undefined offset: 1 in phar:///usr/local/bin/deploy/vendor/league/climate/src/Argument/P

[2016-04-04 19:44] joetannenbaum commented on #84
Yeah, I see what's going on there. Probably even more of a case to convert this entire argument parsing situation to using `getopt` which would be much clearer/easier/more concise. I'm getting ready for a vacation tomorrow, but I'll see if I can crank it out tonight.

[2016-04-04 19:49] banago commented on #84
I really appreciate it, thanks so much.

[2016-04-04 20:30] joetannenbaum commented on #84
Hey @banago, I just put a fix into the master branch if you want to check it out. It's a quick fix, not something I'm totally happy with in the long run, but will avoid that error at the very least.

[2016-04-04 20:34] joetannenbaum opened #85 "Fix argument related classes"
No one seems to be able to understand the argument parsing (including myself whenever I go back in there), it's time to re-do it. `getopt` seems like the way to go to simplify the whole thing.

[2016-04-04 20:48] banago commented on #84
@joetannenbaum it is fixed. Thank you very much, it means a lot me. :100:

[2016-04-04 20:48] #84 closed

[2016-04-05 09:35] banago commented on #84
@joetannenbaum could you tag this fix because I'm asking from 'dev-master' to grab it and it's causing issues with dependencies because of minimum stability. Tag 3.2.1 would be good enough. Thanks.

[2016-04-05 12:10] joetannenbaum commented on #84
Tagged. Yeah, I was surprised you went right for the release using dev-master, I was going to tag it after confirmation that it was good, just got caught up in preparing for my trip.

All set.

[2016-04-05 12:12] banago commented on #84
Perfect, thanks very much! :+1:

[2016-04-14 19:54] LostKobrakai commented on #70
Wasn't to hard to adapt the progress object to this.
[code]

[code]

[2016-05-27 17:50] rhukster commented on #71
👍

Would be great to have a single `CLI application` with multiple `CLI commands` in a similar manner to how Symfony CLI does it.  This could be wrapped around Climate, but the as @kelunik says, it would not work well with `CLImate::usage()`

[2016-05-27 19:01] duncan3dc commented on #71
I maintain a wrapper for symfony/console that adds support for CLImate as the output handler, might be of use to you:  https://github.com/duncan3dc/console

[2016-05-27 20:56] rhukster commented on #71
Starred! Thanks.

[2016-06-08 18:19] borgogelli commented on #9
I use ConEmu and I see a similar bug with the padding method that is related to a wrong width size detection of the terminal window. I have solved by the suggestion of  @yparisien.
Regards from Italy

[2016-07-08 15:09] bwoebi commented on #73
_bump_

[2016-07-11 15:35] joetannenbaum commented on #73
I hear you, I apologize. CLImate will get love this week.

[2016-07-12 19:26] kelunik commented on #73
This can be implemented manually by splitting the array if there's  a `--` in `$argv` and dispatching / parsing the two parts separately.

[2016-07-17 23:31] bwoebi commented on #73
This week? _bump_.

[2016-07-18 20:27] joetannenbaum commented on #73
I'm working on re-working the argument parser so that it's more readable and intuitive. The '--' version of the trailing arguments is in the current release (3.2.1), if you need the other part implemented prior to the re-write I'm happy to accept a pull request.

[2016-08-23 08:49] slava-basko opened #90 "Checkboxes - Docker"
There some issue with Checkboxes on Docker (official php-fpm container)

Code from tutorial:

[code]

Get this:

[code]

[2016-08-23 11:25] slava-basko commented on #90
Fix it. Dockerfile
`ENV TERM xterm-256color`

[2016-09-05 13:20] polybuildr opened #91 "Support for positional arguments"
Sorry if I missed this, but is there any way to add positional arguments? `file.txt` in the following example.

[code]

[2016-09-05 13:26] polybuildr commented on #91
Oops. Just realised that not using `prefix` does this. Sorry!

(Documenting it explicitly might help future users though)

[2016-09-05 13:26] #91 closed

[2016-10-11 09:57] borgogelli commented on #48
Great !

[2016-10-25 05:26] noplanman opened #94 "Progressbar with label removes last 2 lines"
When using the progress bar with a label, the last 2 lines before the progress bar get removed/replaced/eaten up!

Should it be necessary to call `$climate->br();` twice before any progress bar with label?

Example code:

[code]

[2016-10-25 12:29] Ooypunk opened #95 "Building a dynamic extension"
Trying to build a dynamic extension, I am testing, and came up with this script:

`
class ConfirmWithDefault extends DynamicTerminalObject {

}

$climate = new CLImate();

$climate->extend('Bus\Tests\ConfirmWithDefault');

$input = $climate->defaultWef('Continue?');

if ($input->confirmed()) {
    $climate->out('confirmed');
} else {
    $climate->out('declined');
}
`

Notice I call "defaultWef" o

[2016-10-30 21:47] duncan3dc commented on #94
@noplanman I can see one line being eaten but not 2, are you sure of your output lines are being eaten? I've submit the above pr to fix the one line issue

[2016-10-30 22:08] noplanman commented on #94
@duncan3dc, you're right, it's just 1 line.

Wonder why I thought it was 2, strange 😕

Thanks for your PR!

[2016-12-01 12:22] jorgelopezlago opened #99 "Progress bar broken when label is longer than the terminal width"
I have experienced the progress bar breaking whenever the progress label exceeds the width of the screen in characters. Each time it happens it creates a new terminal progress bar, like the following:

[code]

Seen on GNOME Terminal emulator in Ubuntu 16.04, with CLImate v3.2.0 and PHP 7.0.13.

[2017-01-21 21:00] thinsoldier opened #100 "Question: What's the best way to check if no command was given or if the command given was not a defined command?"
At the moment I'm doing:

[code]

Is there any way to get a simple array of whatever was passed as the command if it does not match a defined command?

Also, why is there no full PHPDoc generated documentation?

[2017-05-04 21:17] Oxicode opened #101 "Timeout for input"

[2017-05-04 21:18] Oxicode commented on #70
+1 for this feature

[2017-06-02 04:58] kodejuice opened #103 "CLImates' logo - update needed"
I think the CLImate logo needs to be updated, it now has over 1 million installs and the logo says "Over 100, 000 Installations".

[2017-06-20 14:33] PeeHaa opened #106 "Warning: str_repeat(): Second argument has to be greater than or equal to 0 in... on Windows"
I am having the same problem as https://github.com/thephpleague/climate/issues/9#issuecomment-98809057.

Opening a new issue because I think it's a separate problem.

The fix by @sergeizelenyi works for me too.

[2017-06-27 19:14] garrettw opened #109 "Need to require mbstring extension in composer.json"
As I was just trying to run a library that depends on this one, I discovered that this one was causing a fatal error because it called `mb_strwidth()` in `League\CLImate\TerminalObject\Helper\StringLength::lengthWithoutTags()` – and because I didn't have mbstring installed, the function was not found.

So if someone could add `"ext-mbstring"` to the `require` block in composer.json, that would be

[2017-06-28 00:04] colinodell commented on #109
I've submitted PR #110 with this change.

In the meantime, if you're unable to install `mbstring` you could install the `symfony/polyfill-mbstring` package which provides a userland implementation that only relies on `iconv` (which is usually built into PHP by default).

[2017-06-28 00:21] garrettw commented on #109
Thanks! I was able to install it though.

[2017-06-28 00:21] #109 closed

[2017-07-25 12:02] Sorcy opened #113 "Using both accept and defaultTo blocks user from actually selecting the default value"
Simple test case:

[code]

This will not allow the user to either select "s" or use just return to select the default value.

The problem seems to be the auto-bolding of the default value, as it is held inside League\CLImate\TerminalObject\Dynamic\Input::$acceptable as "\<bold\>s\</bold\>" instead of just "s"

[2017-08-19 23:11] borgogelli opened #114 "Bug in docs: animation() method"
`$climate->animation('hello')->enterFrom('right');`
returns
PHP Warning:  file_get_contents(): Filename cannot be empty in /.../vendor/league/climate/src/TerminalObject/Helper/Art.php on line 126

[2017-10-17 17:37] duncan3dc commented on #103
Hi @kodejuice, are you able to provide a new logo image?

[2017-10-17 17:41] duncan3dc commented on #101
Hi @Oxicode, can you elaborate on what you're looking for here?

[2017-10-19 08:00] duncan3dc commented on #94
This has been fixed by #98, thanks for reporting the issue @noplanman

[2017-10-19 08:00] #94 closed

[2017-10-19 13:15] duncan3dc commented on #114
The documentation is just using `'hello'` as an example, but we've updated the `animation()` method to handle unknown files now and use the default `404` art (0a7a1259206649441ef733c3461d2843698503ae)

[2017-10-19 13:15] #114 closed

[2017-10-19 13:16] duncan3dc commented on #113
This was fixed by #104

[2017-10-19 13:16] #113 closed

[2017-10-19 13:17] duncan3dc commented on #103
We've reverted back to the standard logo now with no mention of the number of installs

[2017-10-19 13:17] #103 closed

[2017-10-19 13:23] duncan3dc commented on #51
Hi @tolry, that does sound interesting and we would welcome a pull request for the feature, as long as it doesn't add too much complexity :+1:

[2017-10-19 14:44] duncan3dc commented on #70
Hi everybody, can you try out the test version below and let me know your thoughts:
`composer require league/climate:dev-spinner`

Here's an example:
[code]

And a version of the previous example from this thread:
[code]

[2017-10-20 05:21] kodejuice commented on #103
Yh, much better ;)

[2017-10-20 10:33] duncan3dc commented on #9
We've merged #64 now, as it looks like this issue contains multiple separate problems, please test out `dev-master` and open a new issue for any remaining problems, thanks

[2017-10-20 10:33] #9 closed

[2017-10-20 10:34] duncan3dc commented on #106
This _should_ be fixed by #64 being merged, can you try out `dev-master` and report back here if it still isn't working, thanks

[2017-10-20 10:34] #106 closed

[2017-10-20 10:35] duncan3dc commented on #99
Hi @jorgelopezlago, sorry for the delay in acknowledging this issue, please could you provide a short script to re-produce the issue, and let us know your terminal dimensions, thanks

[2017-10-20 10:42] duncan3dc commented on #95
CLImate is built to try and keep going no matter what you throw at it, if it doesn't recognise a method it will assume it's some styling and attempt to apply it, but if that styling doesn't exist then the basic `out()` method is just called with the string passed, so calling `$climate->defaultWef('Continue?')` is the same as calling `$climate->out('Continue?')`

[2017-10-20 10:42] #95 closed

[2017-10-20 10:42] duncan3dc commented on #90
Hi @slava-basko, sorry for the delay in responding, it sounds like you solved the issue yourself, but please comment again if any issue remains

[2017-10-20 10:42] #90 closed

[2017-10-20 10:50] tolry commented on #51
@duncan3dc well, that's an old issue, have almost forgotten about it 😃

If I remember correctly, this would have been quite hard to implement, as `tab()` is completely "stateless" (for the lack of a better word) and having table honour tab() would mean the need to do some kind of untab() afterwards. What I am saying: I do not think that this would fit nicely with the current API as it would be qui

[2017-10-20 10:50] PeeHaa commented on #106
Just tested it on my project with the issue. Working for me 💓

[2017-10-20 10:51] duncan3dc commented on #79
"Unable to fork" normally means the system doesn't have enough available resources to run the program. Presumably the docker container was under-powered

[2017-10-20 10:51] #79 closed

[2017-10-20 11:43] duncan3dc commented on #51
No problem, I was thinking when we start rendering the table we could pick up the current column position, and then use that column position for each row in the table, but I'm not sure what that would look like code-wise. I'll take a look when I get some time

[2017-11-05 16:41] duncan3dc commented on #101
Sorry for the delay on responding to this, if you still wish to discuss further please comment and we'll re-open the issue

[2017-11-05 16:41] #101 closed

[2017-11-05 17:08] duncan3dc commented on #51
This can be achieved by adding a second "prefix" parameter to the table call:
[code]

[2017-11-05 17:08] #51 closed

[2017-11-05 17:12] duncan3dc commented on #52
Hi @tolry, if you'd like to start work on the quick select we'd be interested to see a pull request, but we won't be developing this ourselves at the moment sorry

[2017-11-05 17:12] #52 closed

[2017-11-05 17:16] duncan3dc commented on #100
CLImate doesn't have support for "commands" at the moment, only arguments. This is something we'll be looking into soon, but for now the way you're doing it is the only way

[2017-11-05 17:16] #100 closed

[2017-11-06 06:30] tolry commented on #51
@duncan3dc thanks for adding this (reference if others are interested https://github.com/thephpleague/climate/commit/1a91bfbfa40c9ee5a1a55b06a4a68d223a94b75a)

[2017-11-17 04:12] ajuchacko91 opened #116 "PayUmoney"
Hey, can you add support for this payment gateway also in the upcoming release @joetannenbaum here is the link to their website => https://www.payumoney.com/dev-guide/webcheckout/redirect.html

[2017-11-17 04:13] #116 closed

[2018-01-12 10:20] pluc opened #118 "Implement pcntl_signal()"
pcntl_signal is used to handle signals, it would be useful to give CLImate the ability to do something when, for example CTRL+C (SIGTERM) is pressed.

[2018-02-10 19:43] duncan3dc commented on #80
Hi @mzf, sorry for the delay with your problem, this is fixed by 11beecfee7953fb53629691259117fb070a56cbd

[2018-02-10 19:43] #80 closed

[2018-02-10 19:44] duncan3dc commented on #99
Closed due to inactivity, will re-open again once we get a test script

[2018-02-10 19:44] #99 closed

[2018-03-17 13:31] kelunik opened #119 "Color support detection is broken on Windows"
https://github.com/thephpleague/climate/blob/4d3ddf97b6db22c76efe2340f603c0d9834ddf72/src/Util/System/Windows.php#L72

^ `getenv()` will never return `true`, this check should probably be `!== false`.

[2018-03-17 13:35] duncan3dc commented on #119
Thanks @kelunik, this idea came from Symfony originally so we'll take a look at how they've handled it

[2018-03-17 13:37] kelunik commented on #119
I had a look there, it's `!== false` there, but the condition is quite a bit more complex now.

[2018-04-20 09:45] remicollet opened #120 "Outdated changelog"
CHANGELOG.md is stalled at 3.2.0

and no information in https://github.com/thephpleague/climate/releases

[2018-04-20 11:08] duncan3dc commented on #120
Whoops, I'll get that updated shortly, sorry

[2018-04-20 18:25] duncan3dc commented on #120
All up to date now, thanks for the heads up :+1:

[2018-04-20 18:25] #120 closed

[2018-05-11 10:36] joemottershaw commented on #119
Just wondering if there has been any update on this?

[2018-05-11 11:34] duncan3dc commented on #119
Not yet, but we'd welcome a pull request with a solution

[2018-06-20 09:49] imbrish commented on #73
@joetannenbaum any progress on this?

[2018-06-20 09:56] duncan3dc commented on #73
@imbrish Hi Paul, I've taken over development of CLImate, I don't currently have this specific task scheduled, but I'll look at it as soon as I can. As Joe said, Pull Requests are always welcome :smile:

[2018-06-20 13:20] imbrish opened #122 "Parsing of arguments with optional value is broken"
Following snippet:

[code]

When called with `command -f -b abc` will yield:

[code]

Looks like the value of `foo` is wrong, despite that `bar` was parsed correctly.

[2018-06-20 13:36] imbrish commented on #73
Hi Craig! I think https://github.com/thephpleague/climate/issues/85 is the best bet.

Currently it's not possible to get an array of remaining arguments, even with `$climate->arguments->trailing()` because spaces within and between arguments are mixed together.

Unfortunately rewriting whole parsing logic gonna be a big backward compatibility break :(

[2018-06-28 07:33] tomkyle opened #123 "Center or right-align table columns?"
Hey there,
what do you think of centering column contents, or aligning (numbers) to the right?

As far as I can see, there is a [_buildCell_](https://github.com/thephpleague/climate/blob/1a91bfbfa40c9ee5a1a55b06a4a68d223a94b75a/src/TerminalObject/Basic/Table.php#L163) method that calls another _pad_ method and also already knows the column width. Roughly outline as use example:

[code]

And inside

[2018-06-28 07:57] duncan3dc commented on #123
Hi @tomkyle, that sounds like an interesting idea, I'll take a look when I get a minute

[2018-07-10 18:29] duncan3dc commented on #70
This has been merged into master now and will be part of the next release

[2018-07-10 18:29] #70 closed

[2018-07-23 02:01] mikegioia commented on #118
@pluc Shouldn't this be handled in your app code? Sort of like:

[code]

[2018-07-29 20:13] MCStreetguy opened #127 "Proposal: make confirmation dialog more dynamic"
Currently, when the user is prompted for confirmation and types "yes" or "no" as full word, he gets prompted again.
It think it would be more convenient to also accept these as full word and make the comparison case-insensitive.

I already created a pull request to apply the proposed behaviour: #126
I'd really like to hear what you think about that.

Greetings, MCStreetguy

[2018-08-29 10:43] comradefuzz opened #130 "Wrong regexp in art file search"
Case:
* Project called `test` is placed in `/opt/projects/test` directory
* I have two files in `./arts` directory: `logo` and `test`
* When trying to draw `test` art climate prints out `logo` instead

The problem is in [Art helper](https://github.com/thephpleague/climate/blob/master/src/TerminalObject/Helper/Art.php#L111-L139) having wrong regexp:
[code]
It searches in full path of art file so `/

[2018-09-05 07:37] ilyachase opened #131 "Own exception in arguments parse"
Hi guys! Great package.
But one thing I'm wondering. Why when we're parsing arguments, we throw basic php's `\Exception` class? I'm talking about that place: `src/Argument/Parser.php:65`. I think it's a good idea to throw some CLImate's own exception in order to developers catch and distinct them from any others.

[2018-09-05 07:50] duncan3dc commented on #131
Hi @ilyachase, that's a great idea. I'll do a review, when I get chance, of all the exceptions thrown throughout the library

[2018-09-05 08:38] ilyachase commented on #131
@duncan3dc I can help you guys with pull request if you wish.

[2018-09-05 12:13] duncan3dc commented on #131
Sure, that would be great!
Just make sure that any new exceptions implement the [interface](https://github.com/thephpleague/climate/blob/f842fa4df89064220063e1e90dc9bcb631aee1cb/src/Exceptions/Exception.php) and extend the previously used exception for backwards compatibility

[2018-10-06 16:00] duncan3dc commented on #122
Fixed by @mark-gerarts in #133

[2018-10-06 16:00] #122 closed

[2018-10-06 16:07] duncan3dc commented on #127
Resolved by #126

[2018-10-06 16:07] #127 closed

[2018-10-06 16:15] duncan3dc commented on #131
Resolved by #132

[2018-10-06 16:15] #131 closed

[2018-11-06 18:32] loranger opened #136 "confirm default answer"
Hello,

I took a look at #13, but it seems my defaultTo call on confirm does not work anymore

[code]

returns this

[code]

Did I miss something ?

(I use `"league/climate": "dev-master"` in order to use the spinner)

[2018-12-21 16:58] wowcut opened #139 "Some hints / examples for multiple menu handling?"
Hi, I really like this little lib because of its minimalism, very quick to get up! Thank you very much!

However, after adding some functions to a small tool I need to start thinking about how to organize multiple levels of (mostly radiobutton) menus - do you have some hints or examples for how to handle this? Or is there any other library / extension / addon that helps with that? I really would l

[2018-12-21 17:59] mxdpeep commented on #139
use *nette/neon* to load definitions and populate arrays:

use Nette\Neon\Neon;
$menu = Neon::decode(file_get_contents("menu.neon"));

s pozdravem,

*Filip Oščádal*

On Fri, Dec 21, 2018 at 5:58 PM wowcut <notifications@github.com> wrote:

[2018-12-22 12:47] mxdpeep commented on #139
this is a classic MVC model => stick the Model inside an associative array,
View by CLImate, Controller pretty on your own

play with that and show us the results 💕

s pozdravem,

*Filip Oščádal*

On Sat, Dec 22, 2018 at 1:23 PM wowcut <notifications@github.com> wrote:

[2018-12-28 09:19] wowcut commented on #139
Yes, that might be one way to do it. And that was the reason why I was asking if the author of this library had something on their mind into that direction - it feels like the most important part is missing, and I just want to avoid to do things with a library that was never meant to be [ab-]used in a certain way. Of course "lack of architecture" always means "room for your own ideas" - but at tha

[2018-12-28 13:18] mxdpeep commented on #139
🎄   ☃  ☃  ☃    🎄

s pozdravem,

*Filip Oščádal*
*https://fredbrooker.gscloud.cz <https://fredbrooker.gscloud.cz>*

On Fri, Dec 28, 2018 at 10:19 AM wowcut <notifications@github.com> wrote:

[2019-01-08 11:27] TwinMist opened #141 "Single Array Error within $climate->table($X);"
Hi
When trying to use $climate->table($X); and the Array of (Associative Arrays) only contains 1 record you get the following error

PHP Fatal error:  Uncaught TypeError: Argument 1 passed to League\CLImate\TerminalObject\Basic\Table::getDefaultColumnWidths() must be of the type array, integer given, called in /scripts/vendor/league/climate/src/TerminalObject/Basic/Table.php on line 206 and define

[2019-01-08 11:33] duncan3dc commented on #141
Hi @TwinMist, thanks for your report, can you provide a short script to reproduce? I've tried the below but it appears to work:
[code]

[2019-01-08 11:46] TwinMist commented on #141
this array failed
array(4) {
  ["id"]=>
  int(6311133)
  ["sessionid"]=>
  string(32) "d24aab9b31601bba12fa25c2dee5a2bb"
  ["service"]=>
  string(6) "System"
  ["createdDate"]=>
  string(19) "2019-01-06 01:57:05"
}

[2019-01-08 11:51] duncan3dc commented on #141
It looks like you must just be passing an associative array (eg the first record), instead of an array containing the first record, for example:
[code]
The above should be done like this instead:
[code]
I'll see if I can make the error message clearer though :+1:

[2019-01-08 12:31] #141 closed, assigned to nobody

[2019-01-10 13:57] TwinMist commented on #141
so if i have a variable like this
$data = Array ("self" => $item['self'],
               "id" => $item['id'],
                "type" => $item['type'],
		 "label" => $item['label']
		);
$climate->table($data);
how would i get the table to handle it
Uncaught TypeError: Argument 1 passed to League\CLImate\TerminalObject\Basic\Table::getDefaultColumnWidths() must be of the type array,

thanks thanks

[2019-01-10 13:57] TwinMist opened #142 "so if i have a variable like this"
so if i have a variable like this
$data = Array ("self" => $item['self'],
               "id" => $item['id'],
                "type" => $item['type'],
		 "label" => $item['label']
		);
$climate->table($data);
how would i get the table to handle it
Uncaught TypeError: Argument 1 passed to League\CLImate\TerminalObject\Basic\Table::getDefaultColumnWidths() must be of the type array,

thanks thanks

[2019-01-10 14:05] duncan3dc commented on #141
In that instance, this should do it:
[code]

[2019-01-10 14:05] #142 closed

[2019-01-22 11:20] TwinMist opened #143 "CountDown Timer"
Hi, is it possible you could create a function for a countdown timer?

many thanks

[2019-01-30 23:34] mwgamble opened #144 "Clarify in the docs that $climate->error() does not write to STDERR"
`$climate->error("error message")` is a "command" that applies a set of pre-defined formatting rules. To actually write to STDERR, one must call `$climate->to("error")->error("error message"). It would be nice if this could be clarified in the documentation. Generally when I work with STDIO wrappers, when there is an "out" method (that writes to STDOUT), there is also an "err" or "error" method al

[2019-01-31 23:38] Arcesilas commented on #71
Hi,

I wanted to wait before I post in this thread, but I've got interrogations...

I'm working on this feature and there are things I'm facing that need to be resolved, and I don't want to take decisions on my own.

There is currently no concept of Input in CLImate: the arguments are retrieved in the parser (`global $argv`, which is not a very good practice). They can be passed to the `Parser::pa

[2019-02-01 16:53] duncan3dc commented on #144
Hi @mwgamble, I think it makes sense for `error()` to send to STDERR by default, I'll just have to consider the BC impact. But if not then I'll definitely add some clarification to the docs

[2019-02-01 16:55] duncan3dc commented on #71
Hi @Arcesilas, I currently have a few ideas floating around for 4.0. Some of these will include BC breaks so that's not out of the question. We just need to reduce the impact of these breaks as much as possible, give people a clear/easy upgrade path

[2019-02-01 17:44] Arcesilas commented on #71
Great! Thanks for your answer!

[2019-02-06 20:09] quasipickle opened #145 "[NFR] Clear line"
It would be helpful to have a `clearLine()` method to empty a line and return the cursor to the beginning of said line.  I know we can call `inline("\r")`, but that just returns the cursor to the beginning and doesn't reset the line.

My use case is I have a script that pulls down a list of messages via the Gmail api.  I'd like to output "Retrieving emails" before I make the api call, then have th

[2019-02-10 16:50] duncan3dc commented on #119
This has been fixed by @azjezz in #128 and will be released in the next version

[2019-02-10 17:21] duncan3dc commented on #145
Hi @quasipickle, I've just added a new feature to support this (and multiple using `clearLine($numberOfLines)`), it will be in the next version released shortly

[2019-02-10 17:21] #145 closed

[2019-02-10 17:32] duncan3dc commented on #144
Unfortunately there isn't a reliable way to do this based on the current API, so I've added a note to the docs: https://climate.thephpleague.com/styling/commands/

[2019-02-10 17:32] #144 closed

[2019-02-10 17:32] duncan3dc commented on #143
Hi @TwinMist, that sounds like a reasonable request, I'll look into it when I get some time

[2019-02-10 17:35] duncan3dc commented on #139
Hi @wowcut, it sounds like an interesting idea. Perhaps something as simple as attaching a callback to a radio menu item would help? If so I can look into adding that when I get some time

[2019-02-10 17:43] duncan3dc commented on #136
Be careful using `dev-master`, as it hasn't gone through the full regression testing a released version has.
You can always open an issue to ask when a new release will be (to give me a reminder to do one!)
I've identified the cause of this issue and will be releasing a new version shortly

[2019-02-10 17:43] #136 closed

[2019-02-10 17:51] #119 closed

[2019-02-10 18:36] duncan3dc commented on #130
This has been fixed in version [3.5.0](https://github.com/thephpleague/climate/releases/tag/3.5.0)

[2019-02-10 18:36] #130 closed

[2019-02-10 18:38] duncan3dc commented on #122
This has been fixed in version [3.5.0](https://github.com/thephpleague/climate/releases/tag/3.5.0)

[2019-02-10 18:39] duncan3dc commented on #70
This has been released in version [3.5.0](https://github.com/thephpleague/climate/releases/tag/3.5.0)

[2019-02-17 08:50] TwinMist opened #146 "Logging to file"
Hi,
is it possible to log all the output from the $climate to a text file?
thanks

[2019-02-17 18:05] duncan3dc commented on #146
It sure is, as long as the text file exists you can set it up like so:
[code]
Then anything you output will be written to the text file

[2019-02-17 18:05] #146 closed

[2019-03-30 18:15] duncan3dc commented on #30
I've done some initial work on this, you can try it out like so:
[code]
[code]
There's still a few things to resolve, and this might need to go in the next major due to `prompt()` no longer being guaranteed to return a value in some scenarios (eg checkboxes, etc).

But if you want to take it for a spin and provide any feedback that would be useful

[2019-04-26 10:24] RyanNerd opened #147 "Spinner not in documentation website"
Per issue #70 the Spinner was added in release [3.5.0](https://github.com/thephpleague/climate/releases/tag/3.5.0)

Aside from the above closed issue there isn't any documentation I could find for Spinner.

Thanks for creating and maintaining Climate (what great fun it is to use).

[2019-05-29 08:39] TwinMist commented on #143
any update on this?
thanks

[2019-06-06 13:41] duncan3dc commented on #143
Hi @TwinMist, can you try out this branch and see what you think:
[code]
[code]

[2019-06-06 18:09] TwinMist commented on #143
spot on just what i was after.
but just one thing,  to have it just counting down with no message you have to do
$climate->countdown("")->from(9)->run();
if you do
$climate->countdown()->from(9)->run();
you get its starting.....

this correct

Thank you.

[2019-06-19 17:41] TimothyBJacobs opened #148 "Check if argument defined via Argument object"
I'm trying to check if an argument is defined. I need to distinguish between the default value, which is valid to be passed manually, and the argument not being defined at all.

I'm aware of the `Manager::defined()` method, but that requires reparsing `$argv` and in my particular use case, `$argv` isn't even available in this section of code.

What I'd like is something like `$climate->arguments->

[2019-06-24 08:43] windqyoung opened #149 "do not work in windows"
https://github.com/thephpleague/climate/blob/111b2dee0b743881f93a0858dd0cd9bd69c7933c/src/TerminalObject/Helper/Art.php#L90

change to `preg_quote(\DIRECTORY_SEPARATOR)`

[2019-07-12 02:07] jmt33 opened #150 "Composer satis report an error"
Reading composer.json of league/climate (version-4-wip)                               Skipped branch version-4-wip, "5d91f515d5fc2fec53d26312535fd15539c3da5f:composer.json" does not contain valid JSON
Parse error on line 27:
...am": "^1.4"        "overtrue/phplint":
---------------------^
Expected one of: 'EOF', '}', ':', ',', ']'

[2019-07-12 17:07] megumikatoismywaifu opened #151 "How to make output without newline ?"
hello, i want to use climate but after the code like this example : `$climate->backgroundRed('Red Background');`
after that output will start from new line. so i want output without new line

[2019-07-13 12:36] duncan3dc commented on #151
Hi @megumikatoismywaifu, you can use the `inline()` method to achieve this, eg:
[code]

[2019-07-13 12:36] #151 closed

[2019-07-13 12:37] duncan3dc commented on #150
HI @jmt33, that's not a problem, the branch is a work in progress and is not expected to be fully functioning, or even installable in this case. Satis is just warning you that it couldn't load that branch

[2019-07-13 12:37] #150 closed

[2019-09-24 15:37] salvamomo commented on #90
Even with the suggested change, I still have the same issue. The problem seems to be originated at `Checkbox::getPaddingString($line)`.

I think
`$length = $this->util->system->width() - $this->lengthWithoutTags($line);`

should be:

`$length = $this->util->width() - $this->lengthWithoutTags($line);`

The latter does check if the system width is a valid, numeric dimension, and if it's not, it fall

[2019-10-18 17:42] borgogelli opened #153 "Warning: preg_match(): Compilation failed: missing terminating ] for character class at offset"
Climate version 3.5.0

Error:
`Warning: preg_match(): Compilation failed: missing terminating ] for character class at offset ...`

The problem is in the [file Art.php at line 119](https://github.com/thephpleague/climate/blob/6ad8e26771305769494697253a1a44f2f2e92bfe/src/TerminalObject/Helper/Art.php#L119)
`$regex = '~' . preg_quote($art) . $pattern . '~';`
doesn't work for me, I should change it i

[2019-10-27 21:15] Arcesilas commented on #71
Here's a very basic example of how multiple subcommands can be handled with CLImate without writing much code: https://gist.github.com/Arcesilas/06abb3b2e94f50b3bdff415b68a3213f

This example does not handle the subcommand, it simply extracts it from the arguments list.

[2019-10-28 18:13] on2 opened #155 "Draw art filenames"
I noticed whilst working on pull request #154 that if I use the following code that `the-league-big.txt` is drawn:

[code]

I would expect `the-league.txt` to be shown. Is this by design or a bug?

[2019-10-28 19:20] #143 closed

[2019-11-24 22:13] duncan3dc commented on #155
This is a bug, it's fixed in [3.5.1](https://github.com/thephpleague/climate/releases/tag/3.5.1) now and the filename matching is stricter

[2019-11-24 22:13] #155 closed

[2019-11-24 22:13] duncan3dc commented on #153
This is fixed in [3.5.1](https://github.com/thephpleague/climate/releases/tag/3.5.1) sorry for the delay

[2019-11-24 22:13] #153 closed

[2019-11-24 22:14] duncan3dc commented on #149
This is fixed in [3.5.1](https://github.com/thephpleague/climate/releases/tag/3.5.1) sorry for the delay

[2019-11-24 22:14] #149 closed

[2020-01-21 16:17] HaxorGaruda opened #157 "padding on inline"
is able to padding on inline mode ? thanks..

[2020-01-26 23:20] pyronaur commented on #73
I needed to get the unregistered args following the main command and ended up doing this:

[code]

This seems to work well enough.

[2020-06-26 03:23] torohill opened #159 "Newlines in table data"
If there are newlines in the table data these cause the layout to break. For example:

[code]

What do you think about adding an option to format newlines so the table looks like this?
[code]

[2020-06-26 07:41] duncan3dc commented on #159
Sounds like a good idea (although rather than an option I'd expect that to just be standard behaviour), not sure how difficult/practical it will be though, will take a look in the next week

[2020-09-23 10:23] pvdhurk opened #161 "If length of checkbox option is larger than screenWidth Exception is thrown"
https://github.com/thephpleague/climate/blob/6b53a28a58ad9f5f63042e291eb870cf0d02a9c9/src/TerminalObject/Dynamic/Checkbox/Checkbox.php#L178

In  my case, the radio option is 86 in length and the screen is 80, -6 results in the below exception:
[code]

Suggested change:
[code]

[2020-09-23 11:03] pvdhurk commented on #161
[code]

[2020-10-04 15:56] duncan3dc commented on #157
Hi @HaxorGaruda, can you explain a little more about what you mean? Perhaps you have a short script to demonstrate the issue?

[2020-10-04 15:57] duncan3dc commented on #148
Hi @TimothyBJacobs I'd be happy to accept a PR for this feature :+1:

[2020-10-04 15:58] duncan3dc commented on #139
Closing due to no response

[2020-10-04 15:58] #139 closed

[2020-10-04 16:03] duncan3dc commented on #161
This is fixed in [3.6.0](https://github.com/thephpleague/climate/releases/tag/3.6.0) thanks for the report!

[2020-10-04 16:03] #161 closed

[2020-10-04 16:03] duncan3dc commented on #159
This is fixed in [3.6.0](https://github.com/thephpleague/climate/releases/tag/3.6.0) thanks for the code!

[2020-10-04 16:03] #159 closed

[2020-10-09 08:20] pvdhurk commented on #161
Happy to help :)

[2020-12-09 05:26] aidan-casey opened #162 "Next major version?"
Hey there! I was curious if there might be any progress or plans for the next major version. Primarily, it seems like this package has some catching up to do around argument / option parsing and could benefit from an overhaul of those features.

If there is a roadmap for any of this, I am more than happy to assist in implementing, but I didn't see any specific mention of the next version, so I wan

[2020-12-10 10:59] duncan3dc commented on #162
Hi @aidan-casey, I have a few plans for the next major, but nothing as concrete as a roadmap yet. I will leave this issue open to remind me to prepare a roadmap

[2020-12-10 10:59] #157 closed

[2020-12-10 11:21] aidan-casey commented on #162
@duncan3dc - Sounds like a plan! 👍🏼

[2020-12-10 13:56] RyanNerd opened #165 "When is the next tagged release scheduled?"
Either major, minor, or patch?

[2020-12-10 13:58] duncan3dc commented on #165
I'll be tagging a minor with PHP 8 support soon

[2021-01-08 09:40] duxthefux commented on #165
@duncan3dc any update on that?

[2021-01-10 20:19] duncan3dc commented on #165
[3.7.0](https://github.com/thephpleague/climate/releases/tag/3.7.0) tagged and released now :tada:

[2021-01-10 20:19] #165 closed

[2021-01-23 17:44] alanondra opened #166 "PHP 8.0 Support"
Is there anything blocking this from being updated to use PHP 8.0?

Nevermind, my composer was misreporting

[2021-01-23 17:44] #166 closed

[2021-02-03 09:01] eydun opened #167 "Integrate with Symfony console"
Climate looks better than Symfony console, which most projects use.

Would it make sense to integrate Climate with Symfony console, or how do they compare?

[2021-02-03 22:49] duncan3dc commented on #167
Hi @eydun I actually first started out with CLImate by integrating it into Symfony Console.
I have a separate library that maintains compatibility between the two: https://github.com/duncan3dc/symfony-climate
I also have an extension to Symfony Console that wires up the above along with some other extensions: https://github.com/duncan3dc/console

That was back when CLImate was output focussed, sin

[2021-02-03 22:49] #167 closed

[2021-02-04 08:26] eydun commented on #167
Thank you for the explanation, and thank you for great work you are doing!

[2021-02-04 14:06] eydun opened #168 "Feature request: Console in browser"
I know this is not a trivial task. But it would be awesome if Climate could also be available in the browser.

[2021-03-07 07:54] deanc opened #169 "Proposal: Create static methods for easier usage when formatting"
It's a little inconvenient having to instantiate an object to call methods for formatting each time, particularly for colours. The existing API is:

[code]

I propose adding some static utility methods to make usage easier and more concise, especially as there's not a great need for state.

[code]

Method name can adjusted, of course, but I guess it's important to maintain backwards compatability

[2021-03-07 07:57] deanc commented on #168
There are numerous other packages in the JS ecosystem that can do this. I'm not sure what you're suggesting or how this would even be feasible.

[2021-03-07 08:51] duncan3dc commented on #169
Hi @deanc, due to the way CLImate was originally built I think it actually would be possible to use the same method names.

There is a lot of state involved within CLImate, so if you were doing lots of calls it would probably get expensive, and I'm concerned it could be confusing to newbies. But I'll give it some thought to see if this can be supported cleanly and easily

[2021-03-07 09:08] deanc commented on #169
Hi @duncan3dc - thanks for the quick reply. That sounds great. I think when you deal with complex combinations then it makes sense to keep it as is, but perhaps for the most basic of use cases we could have some static methods. Perhaps something like:

`::bold` `::italic` `::underline` `::red` `::backgroundRed` and then `::colorAndBackground($foreground, $background, $string)`

[2021-03-07 10:33] eydun commented on #168
Thanks for the reply. I think you are right.

[2021-03-07 10:33] #168 closed

[2021-03-14 22:33] ashuradev opened #170 "Change the default reader of Input Terminal Object"
Hello, how could I change the default reader of the input? I would like to suggest a way to do this, for example:

[code]

[2021-03-16 01:49] #170 closed

[2021-03-17 11:20] airikr-e opened #172 "Allow CLImate to be used in a web context"
Hi.

I can't get past tis error message. Can't find anything online regarding this for CLImate either. How can I get past this?

Here's what I did: I went to my project's folder and ran `composer require league/climate`. After that, I copied-pasted the code under "Usage" in `README.md` here on GitHub and reloaded the page for my project.

[code]

[code]

[2021-05-01 00:43] RyanNerd commented on #172
I am unable to duplicate this problem. I think from your comment:

This indicates to me that you were trying to run the PHP script _as a web app_ and not from the terminal. If you try running this as a web app the constant STDOUT will not exist. [The constant STDOUT only exists if the PHP script is ran as a terminal app](https://stackoverflow.com/a/28898174/4323201).

Here's what I did:
I'm using

[2021-05-12 10:57] e-edgren commented on #172
[code]

`php view-myip.php` do work, but running `curl http://localhost/airikr/view-myip.php` shows the same error as this issue is about. The same applies to when I run it live (`curl https://airikr.me/myip`), but no errors since I have `display_errors Off` for obvious reasons.

[2021-05-12 19:19] RyanNerd commented on #172
This appears to be a coding problem outside of CLImate. `The internal code of getip()` sounds like the problem and not CLImate.
What does this code produce?

[code]

[2021-05-12 20:57] e-edgren commented on #172
That doesn't matter, unfortunately. I can replace `'ip'=>$ipInfo` with `'ip'=>'test'` and I still get the same error:

[code]

`getip()` is a function that I use to retrieve visitor's IP address. I am using PHP version 7.4.3 on my local web server.

[2021-05-15 04:41] dansleboby opened #177 "Windows radio/checkbox"
Hi,
Do you have a plan to support checkbox and radio on windows?

Thanks

[2021-05-23 12:58] sandrocods opened #178 "How can i write carriage return \r in this library ?"

[2021-05-24 22:35] gugglegum opened #179 "Code is not friendly for static analysis by smart IDEs like PhpStorm"
Many magic methods without proper PhpDoc annotations is not good. Also design allows to use dynamic method names which may contain style methods inside. What it need for? Are you too busy to type 2 methods and want to use single method for both? It's a very controversial design that I consider to be outdated.

[code]
When type is `mixed` IDE can't know how to interpret this property.

[2021-05-24 22:38] gugglegum opened #180 "Is it really need to instantiate CLImate object every time it needed?"
Why not to use static methods? Maybe I missed something but the console is always only one. So we have no obvious profit when doing it dynamic.

[2021-05-24 23:17] gugglegum opened #181 "Input and confirm has no default values"
Sometimes it is useful to allow user select default variant just by pressing ENTER. And variants should be printed after question in brackets. For example:
`Are you sure? [y/N] `
Here uppercase `N` means this is default answer.
Or:
`Enter the path of rsa key (/home/user/.ssh/id_rsa): `

[2021-05-25 07:17] duncan3dc commented on #179
Hi there,

This is part of the original design of the library from 7 years ago, it was a choice that was made to support that style of dynamic method, you are free to use a single method for both, the library lets you do that.

Thanks for sharing your opinion, perhaps this library is not for you

[2021-05-25 07:17] #179 closed

[2021-05-25 07:18] duncan3dc commented on #178
Hi there, you should be able to do:
[code]

[2021-05-25 07:18] #178 closed

[2021-05-25 07:21] duncan3dc commented on #180
CLImate is instance based to allow for [Dependency Injection](https://en.wikipedia.org/wiki/Dependency_injection).
As an example, this makes it easy to mock during unit testing, so that we can test our code is working correctly.

Also there is not necessarily always one instance, it's possible to have multiple instances that write to different locations, static methods would not support this

[2021-05-25 07:21] #180 closed

[2021-05-25 07:25] duncan3dc commented on #181
Have you tried using [defaultTo()](https://climate.thephpleague.com/terminal-objects/input/#default-response) with an input?
[code]

[2021-05-25 07:26] duncan3dc commented on #177
I do not unfortunately, but I would a welcome a PR from anybody that has the time to figure it out

[2021-05-25 07:27] duncan3dc commented on #172
@e-edgren What's the purpose of using CLImate there? Wouldn't this be much simpler:
[code]

[2021-05-28 01:07] #181 closed

[2021-06-15 09:39] e-edgren commented on #172
Sorry for a late response, @duncan3dc. My real use for CLImate is to show information about the weather for my weather service, serenum.org, just like what [wttr.in](https://github.com/chubin/wttr.in) does. To show the IP address is only for a test to see how CLImate works and if I really can use it for this purpose. But as of now, I can't :(

[2021-06-15 09:47] duncan3dc commented on #172
Ah I see what you're doing, I'll look into that when I get a moment

[2021-08-02 12:40] mariuszkrzaczkowski opened #182 "Exception: 2: exec() has been disabled for security reasons"
Is the exec function mandatory ???
my security policy does not allow it?

[code]

[2021-08-02 13:07] duncan3dc commented on #182
We use `exec()` to figure out certain aspects of the terminal window based on the current operating system.

You can avoid the use of it by providing a custom `System` implementation yourself that provides the details of the environment, something like this:
[code]

Although I can see you're using checkboxes and we also depend on `stty` there, so I don't think the above will work correctly for you

[2021-08-02 13:07] #182 closed

[2021-08-02 21:15] mariuszkrzaczkowski commented on #182
did not work :/
is there any other workaround for this? exec blocking multiple servers

[2021-08-26 18:10] gamersalpha opened #183 "PHP Warning: preg_split() expects parameter"
Hello i got many warnings
i got an array to do in table in command line and i got this error :

[code]

so i got a classe with a method to show my table :

[code]

what do u think is wrong please ?

for the result i got the table but with al warning

[2021-09-03 19:14] floriankraemer commented on #177
Is there no other php library that supports this on windows from which we could get some inspiration? :)

[2021-12-22 09:31] borgogelli opened #184 "The boldDraw() referenced in the doc, is an unknown method"
The doc at https://climate.thephpleague.com/terminal-objects/draw/
shows the following example:
`$climate->boldDraw('mug');`
but that method is missing
Regards

[2022-01-22 12:51] #172 closed

[2022-01-22 13:06] duncan3dc commented on #172
I've not looked into how this could be properly supported, but I've merged the workaround from @RyanNerd to avoid an exception in one specific part of the code base when expecting to be run in CLI mode. This is available in [3.8.0](https://github.com/thephpleague/climate/releases/tag/3.8.0) now

[2022-01-23 13:49] mxdpeep opened #185 "Fatal error after latest update"
PHP Fatal error:  Uncaught TypeError: defined(): Argument #1 ($constant_name) must be of type string, resource given in .../vendor/league/climate/src/Util/System/Linux.php:91

league/climate                    3.8.0

[2022-01-23 13:56] mxdpeep commented on #162
yeah, 3.8.0 is out and crashed my scripts :/

[2022-01-23 13:58] mxdpeep commented on #184
$climate->bold()

[2022-01-23 14:33] duncan3dc commented on #185
Do you have a script to reproduce? And details about the environment that causes this issue?

[2022-01-23 14:39] duncan3dc commented on #185
Fixed in [3.8.1](https://github.com/thephpleague/climate/releases/tag/3.8.1) now

[2022-01-23 14:39] #185 closed

[2022-01-23 14:43] duncan3dc commented on #184
@borgogelli Almost every method is "missing" as they're dynamically called, the main ones are declared in docblocks (using `@method`) but for compound ones (like `boldDraw`) there are far too many possible combinations to define them all.
If you want to use the declared methods then you could do `$climate->bold()->draw('mug')` instead

[2022-01-23 14:43] #184 closed

[2022-02-07 14:55] Fossil01 opened #187 "ERROR: #0 [internal function]()"
I have been getting quite a few of these in my Laravel error logs. Running PHP 8.1.1 right now.

[code]

[code]

[2022-02-07 15:21] duncan3dc commented on #187
Hi @Fossil01 it's difficult to tell what your error is as the actually error message appears to have been removed, are you able to post the error message being raised from `StdOut.php`?

[2022-02-07 16:05] duncan3dc commented on #187
Are you able to provide a small reproduction script instead then?

[2022-02-07 20:47] dansleboby opened #188 "Add colors to element in columns or table"
It will be nice to be able todo this :)

[2022-02-07 20:51] dansleboby commented on #188
Nerver mind we can via: but a bit long :D

[code]

[2022-02-07 20:51] #188 closed

[2022-02-07 22:18] dansleboby commented on #188
Ok I just don't see the "Tags": https://climate.thephpleague.com/styling/combinations/

Thanks for all!

[2022-02-09 10:08] Fossil01 commented on #187
I'll try in the next few days. Sick in bed currently -.-

[2022-02-09 10:17] duncan3dc commented on #187
Get well soon!

[2022-02-14 14:23] kekefreedog opened #189 "[Warning] PHP Deprecated: strlen(): Passing null to parameter #1"
Hello,

I am using climate with PHP8.1, and I have this log :
PHP Deprecated:  strlen(): Passing null to parameter #1 ($string) of type string is deprecated in /Users/Toto/Sites/Sandbox/vendor/league/climate/src/TerminalObject/Basic/BasicTerminalObject.php on line 21

To fix this warning message, I just add this ``$value && strlen($value)`` in https://github.com/thephpleague/climate/blob/637555fdf

[2022-02-14 14:40] kekefreedog commented on #189
Same probleme here : Deprecated: strlen(): Passing null to parameter #1 ($string) of type string is deprecated in /Users/toto/Sites/LuckyPHP/vendor/league/climate/src

https://github.com/thephpleague/climate/blob/637555fdf6285c8077297f326760d9d8a5112f28/src/TerminalObject/Dynamic/Progress.php#L216

Fix :
[code]

[2022-03-29 16:53] quasipickle opened #192 "Progress: getCurrent() & getTotal()"
It would be useful to be able to retrieve the current & total values from a progress bar.

My use case is that I define the progress bar in one method in a class, then use it in other methods.  I'd like my label to be updated with the count, ie `(23/1176)` without having to track those numbers separately.

I'm happy to do this & submit a PR, but I wonder if this package is actively maintained?

[2022-07-05 12:28] airikr-e commented on #172
The issue persists even today and with version 3.8.x, but with a different error message:

[code]

[2022-07-12 12:26] ghost opened #195 "fwrite(): Write of 1 bytes failed with errno=32"
I've been getting these intermittently and haven't been able to figure out why yet. Any ideas?

[code]

[2022-08-09 19:09] eugenebunin opened #196 "Useless method"
https://github.com/thephpleague/climate/blob/a785a3ac8f584eed4abd45e4e16fe64c46659a28/src/CLImate.php#L143

There is no encapsulation also property is public.